/* Main container */
.login-container {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: #f8f9fb;
}

/* LEFT PANEL */
.left-panel {
  flex: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(235deg,
      #9CCBEC 0%,
      #1D2A6E 70%,
      #1D2A6E 80%,
      #ff4444 90%,
      #e29f0f 100%);

  color: white;
  padding: 40px;
}

.left-logo {
  position: fixed;
  top: 45px;
  left: 47px;
  z-index: 2000;  
}

.dfi-logo {
  height: 44px;
  width: 67px;
}

.left-content {
  max-width: 360px;
}

.title {
  color: #FFF;
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
  /* 37.44px */
}

.desc {
  color: #FFF;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 159%;
  /* 20.67px */
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  text-align: left;
  max-width: 320px;
}

.sso-title {
  color: #535353;
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}

.sso-subtext {
  color: #646464;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
}

/* SSO BUTTON */
.sso-btn {
  width: 130%;
  background: linear-gradient(90deg, #223073, #88b2d8);
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.sso-btn:hover {
  opacity: 0.9;
}

/* Footer links */
.footer-links {
  position: fixed;
  bottom: 15px;
  font-size: 12px;
  opacity: 0.7;
}

.footer-links a {
  color: #555;
  text-decoration: none;
  margin-right: 12px;
  margin-left: 12px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: none;
    width: 100%;
    height: 50vh;
  }
}

